<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>Figures</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Waveguides in Micro-NMR Literature.md</string>
		</array>
		<array>
			<string>intro-test.latex</string>
		</array>
		<array>
			<string>intro-test.tex</string>
		</array>
		<array>
			<string>introduction.log</string>
		</array>
		<array>
			<string>Introduction.md</string>
		</array>
		<array>
			<string>introduction.tex</string>
		</array>
		<array>
			<string>literature.bib</string>
		</array>
		<array>
			<string>microstrip.aux</string>
		</array>
		<array>
			<string>microstrip.log</string>
		</array>
		<array>
			<string>microstrip.tex</string>
		</array>
		<array>
			<string>rsc.bst</string>
		</array>
		<array>
			<string>stripline-nmr.tex</string>
		</array>
		<array>
			<string>test-theory.tex</string>
		</array>
		<array>
			<string>theory.md</string>
		</array>
		<array>
			<string>theory.tex</string>
		</array>
		<array>
			<string>theory-test.tex</string>
		</array>
		<array>
			<string>wileynum.bst</string>
		</array>
		<array>
			<string>wileyauy.bst</string>
		</array>
		<array>
			<string>wileySTM.sty</string>
		</array>
		<array>
			<string>babelbst.tex</string>
		</array>
		<array>
			<string>main.tex</string>
		</array>
		<array>
			<string>NMR Detectors.txt</string>
		</array>
		<array>
			<string>waveguides.tex</string>
		</array>
		<array>
			<string>texput.log</string>
		</array>
	</array>
</dict>
</plist>
